[project]
name = "task-reminder"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "loguru>=0.7.3",
    "pendulum>=3.1.0",
    "pre-commit>=4.3.0",
    "rich>=14.2.0",
]
